<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rock Paper Scissors</title>
</head>
<body>
    <header>
        <h1>Welcome to Rock, Paper, Scissors</h1>
    </header>
    <nav>
        <a href="/">Return Home</a>
        <a href="/game">Retry</a>
    </nav>

    {% block content %}
    {% endblock %}

    <footer>My Rock, Paper, Scissors is better because I use caps
    and commas when I'm talking about the game. Also, I have funny pictures.</footer>
</body>
</html>